<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>WB-WELFARE</title>
<link rel="stylesheet" href="reset.css">
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet">
<link rel="stylesheet" href="style.css">
</head>
<body>
<img id="banner" src="imagens/banner.jpg">
<h1>WB-WELFARE_CENTRO DE BELEZA</h1>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>