<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="reset.css">
     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="produtos.css">
<title>WB-WELFARE</title>
</head>
<header>
<div >
<h1 style="text-align:center;color:#E9B934">Cadastro</h1>
</div>
</header>
<body class="container:background-image: url(imagens/salon.jpg);">
<div class="container">
<form action="salvarcliente" method="post" th:object="${clientebj}">
 
<div class="mb-3">
<label for="formGroupExampleInput" class="form-label">Id</label>
<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Gerado automaticamente" name="id" th:field="*{id}" readonly="readonly">
</div>
<div class="mb-3">
	<label for="formGroupExampleInput" class="form-label">Nome</label>
	<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Primeiro nome" name="nome" th:field="*{nome}">
 </div>
 <div class="mb-3">
	<label for="formGroupExampleInput" class="form-label">Sobrenome</label>
	<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Sobrenome" name="sobrenome" th:field="*{sobrenome}">
 </div>
 <div class="mb-3">
	<label for="formGroupExampleInput" class="form-label">CPF</label>
	<input type="text" class="form-control" id="formGroupExampleInput" placeholder="CPF" name="cpf" th:field="*{cpf}">
</div>
<div class="mb-3">
	<label for="formGroupExampleInput" class="form-label">Data de nascimento</label>
	<input type="date" class="form-control" id="formGroupExampleInput" name="nascimento" th:field="*{nascimento}">
</div>
<div class="mb-3">
<label for="formGroupExampleInput" class="form-label">Telefone/celular</label>
<input type="text" class="form-control" id="formGroupExampleInput" placeholder="(ddd) xxxx-xxxx" name="telefone" th:field="*{telefone}">
</div>
<div >
	<label for="generocliente" class="form-label">Genero</label>
	<select class="form-select form-select-lg mb-12" aria-label=".form-select-lg example" th:field="*{generocliente}">
		<option value="">--Todos--</option>
		<option value="FEMININO" th:text="Feminino"/>
		<option value="MASCULINO" th:text="Maculino"/>
	</select>
		
	</div>
<div class="mb-3">
<label for="formGroupExampleInput" class="form-label">Como gostaria de ser tratado(a)? (Ex.: Senhora, Senhor,Você etc.)</label>
<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Senhora,Você etc." name="tratamento" th:field="*{tratamento}">
</div>
<div class="mb-3">
<label for="formGroupExampleInput" class="form-label">Qual costuma ser sua forma preferencial de pagamento? (Ex.: Dinheiro, crédito, débito etc.)</label>
<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Dinheiro/Débito/Crédito" name="pagamento" th:field="*{pagamento}">
</div>
<br>
<input class="btn btn-primary" type="submit" value="Salvar">
</form>
</div>
</body>
</html>